.default {
  .iconWrapper {
  }

  .icon {
    font-size: 5rem;
  }

  .option1Wrapper {
  }

  .option2Wrapper {
  }

  .option1 {
  }

  .option2 {
  }
}

.fantastic {
  .iconWrapper {
  }

  .icon {
    font-size: 5rem;
    color: red;
  }

  .option1Wrapper {
  }

  .option2Wrapper {
  }

  .option1 {
  }

  .option2 {
  }
}

.bombastic {
  .iconWrapper {
  }

  .icon {
    font-size: 5rem;
    color: red;
  }

  .option1Wrapper {
  }

  .option2Wrapper {
  }

  .option1 {
  }

  .option2 {
  }
}
