$max-width: 2800px;

// Themes

// Deep space theme
$primary-deepSpace: #000000;
$secondary-deepSpace: #051427;
$tertiary-deepSpace: #530f1e;
$quaternary-deepSpace: #a44322;
$quinary-deepSpace: #f8bc04;
$text-deepSpace: #ffffff;
